<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sounds</key>
	<array>
		<string>Modern Bible.mp3</string>
		<string>Make me hotter.mp3</string>
		<string>People need my music.mp3</string>
		<string>Rather be hated.mp3</string>
		<string>You ain&apos;t got the answers.mp3</string>
		<string>So focused.mp3</string>
		<string>Humble opinion.mp3</string>
		<string>Going to the club.mp3</string>
	</array>
</dict>
</plist>
